<div>
  <link href="./cart-card.css" rel="stylesheet" />
  <div class="cart-card-container">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1514924013411-cbf25faa35bb?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&w=1000"
      class="cart-card-image"
    />
    <div class="cart-card-container1">
      <span class="cart-card-text"><span>City Name</span></span>
      <div class="cart-card-container2">
        <span class="cart-card-text1"><span>Genre:</span></span>
        <span class="cart-card-genre"><span>Comedy</span></span>
      </div>
      <div class="cart-card-container3">
        <span class="cart-card-text2"><span>Price:</span></span>
        <span class="cart-card-price"><span>300</span></span>
      </div>
      <div class="cart-card-container4">
        <span class="cart-card-text3"><span>Quantity:</span></span>
        <span class="cart-card-price1"><span>1</span></span>
      </div>
      <div class="cart-card-container5">
        <div class="outline-button-container">
          <button class="outline-button-button button Button">
            <span>Add</span>
          </button>
        </div>
        <div class="outline-button-container">
          <button class="outline-button-button button Button">
            <span>Remove</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
