<div>
  <link href="./order-card.css" rel="stylesheet" />
  <div class="order-card-container">
    <div class="order-card-container1">
      <span class="order-card-text"><span>City Name</span></span>
      <div class="order-card-container2">
        <span class="order-card-text1"><span>Genre:</span></span>
        <span class="order-card-genre"><span>Comedy</span></span>
      </div>
      <div class="order-card-container3">
        <span class="order-card-text2"><span>Date:</span></span>
        <span class="order-card-price"><span>1/1/2023</span></span>
      </div>
      <div class="order-card-container4">
        <span class="order-card-text3"><span>Price:</span></span>
        <span class="order-card-price1"><span>300</span></span>
      </div>
      <div class="outline-button-container">
        <button class="outline-button-button button Button">
          <span>View</span>
        </button>
      </div>
    </div>
  </div>
</div>
