<div>
  <link href="./owner-card.css" rel="stylesheet" />
  <div class="owner-card-container">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1514924013411-cbf25faa35bb?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&w=1000"
      class="owner-card-image"
    />
    <div class="owner-card-container1">
      <span class="owner-card-text"><span>Blagoja Nikoloski</span></span>
      <span class="owner-card-text1">
        <span>My name is Blagoja Nikoloski, creator of this site.</span>
      </span>
    </div>
  </div>
</div>
