<div>
  <link href="./place-card.css" rel="stylesheet" />
  <div class="place-card-container">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1514924013411-cbf25faa35bb?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&w=1000"
      class="place-card-image"
    />
    <div class="place-card-container1">
      <span class="place-card-text"><span>City Name</span></span>
      <div class="place-card-container2">
        <span class="place-card-text1"><span>Genre:</span></span>
        <span class="place-card-genre"><span>Comedy</span></span>
      </div>
      <div class="place-card-container3">
        <span class="place-card-text2"><span>Date:</span></span>
        <span class="place-card-price"><span>1/1/2023</span></span>
      </div>
      <div class="place-card-container4">
        <span class="place-card-text3"><span>Price:</span></span>
        <span class="place-card-price1"><span>300</span></span>
      </div>
      <div class="outline-button-container">
        <button class="outline-button-button button Button">
          <span>View</span>
        </button>
      </div>
    </div>
  </div>
</div>
