<div>
  <link href="./user-card.css" rel="stylesheet" />
  <div class="user-card-container">
    <div class="user-card-container1">
      <span class="user-card-text"><span>City Name</span></span>
      <div class="user-card-container2">
        <span class="user-card-text1"><span>E-Mail:</span></span>
        <span class="user-card-genre"><span>Comedy</span></span>
      </div>
      <div class="user-card-container3">
        <span class="user-card-text2"><span>Phone Number:</span></span>
        <span class="user-card-price"><span>1/1/2023</span></span>
      </div>
      <div class="user-card-container4">
        <span class="user-card-text3"><span>Name:</span></span>
        <span class="user-card-price1"><span>300</span></span>
      </div>
      <div class="user-card-container5">
        <div class="outline-button-container outline-button-root-class-name">
          <button class="outline-button-button button Button">
            <span>Set as Admin</span>
          </button>
        </div>
        <div class="outline-button-container">
          <button class="outline-button-button button Button">
            <span>Set as Standard</span>
          </button>
        </div>
        <div class="outline-button-container outline-button-root-class-name1">
          <button class="outline-button-button button Button">
            <span>Delete User</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
